body {
  margin: 0;
  font-family: poppins, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 button {
 	cursor: pointer;
 	border-top-right-radius: 4px;
 	border-bottom-right-radius: 4px;
 }

 footer {
    font: 300 .7em 'Poppins', sans-serif;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
    letter-spacing: .6px;
    margin-top: 70px;
}